@charset "UTF-8";

.card_area{
  position: absolute;
  width:100%;
  height:720px;
  top:-720px;
  left:0;
  overflow:hidden;
}

.card_wrap{
  width:288px;
  position: relative;
  height:660px;
  margin:0 auto;
}

.card_wrap>li{
  position: absolute;
  width:139px;
  height:213px;
  background:url(../img/d_card.png) no-repeat;
  background-size:100% 100%;
}

.card0, .card1{
  top:0;
}
.card2, .card3{
  top:223px;
}
.card4, .card5{
  top:446px;
}

.card_wrap>li:nth-child(2n+1){
  left:0px;
}

.card_wrap>li:nth-child(2n){
  left:149px;
}

.card_info{
  top:50%;
  margin-top:-50px;
  width:100%;
  position: absolute;
  background:rgba(0, 0, 0, 0.6);
  line-height:100px;
  color:#FFF;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  z-index: 50;
  opacity:0;
}

.card_info_pre{
  position: fixed;
  width:100%;
  bottom:0;
  height:75px;
  background:#000;
  opacity:0;
}

.card_info_pre>p{
  text-align:center;
  color:#FFF;
}
.card_info_pre_text{
  line-height:40px;
  font-size:28px;
  font-weight:600;
}

.card_info_pre_arrow{
  line-height:30px;
  font-size:18px;
}
