@charset "UTF-8";
@import url('http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');

*{margin:0px; padding:0px;}
ul, li, ol{list-style: none;}
img{border: none;}
a{text-decoration: none;}

html, body{width:100%; height:100%;}
body{background:url(../img/background_heart_animated.gif);}

.nanum_mj{font-family: 'Nanum Myeongjo', serif;}
